
    <h1>Pending sales receipts</h1>
    <table class="table-striped">
        <tr>
            <th>No.</th>
            <th>SO#</th>
            <th>Info</th>
            <th>Date/Time</th>
            <th>Sales Amount</th>
            <th>Enter COGS</th>
            <th>Enter Note</th>
            <th>Submit</th>
        </tr>

        {{#each data.sales}}
        <tr data-id="{{this.TransactionID}}">
            <td>{{@index}}</td>
    	    <td>{{this.salesOrderNumber}}</td>
            <td>{{this.customerName}}<br>{{this.customerEmail}}<br>{{this.transactionDateTime}}</td>
            <td>{{this.totalAmount}}</td>
            <td><input class="form-control" type="field" name="COGS" data-id="{{this.TransactionID}}"></td>
            <td><input class="form-control" type="field" name="PrivateNote" data-id="{{this.TransactionID}}"></td>
            <td><button class="createSalesReceiptButton btn btn-default" type="button" data-id="{{this.TransactionID}}">Submit</button><span style="display:none;" data-id="{{this.TransactionID}}">Submitting..</span></td>
        </tr>
        {{/each}}
    </table>

    <h1>Past payouts</h1>
    <table class="table-striped">
        <tr>
            <th>No.</th>
            <th>eventId</th>
            <th>Date/Time of Payout</th>
            <th>Amount</th>
            <th>status</th>
        </tr>

        {{#each data.payouts}}
        <tr>
            <td>{{@index}}</td>
            <td>{{this.data.id}}</td>
            <td>{{this.payoutPaidDateTime}}</td>
            <td>{{this.amount}}</td>
            <td>{{this.status}}</td>
        </tr>
        {{/each}}
    </table>

    <script>
    $('.createSalesReceiptButton').on('click', function() {

    	var self = this;
        var transactionID = $(this).attr('data-id');
        var COGSfield = $('input[name="COGS"][data-id="' + transactionID + '"]');
        var privateNoteField = $('input[name="PrivateNote"][data-id="' + transactionID + '"]');
        var privateNote = (typeof privateNoteField.val() === "string" && privateNoteField.length > 0) ? privateNoteField.val() : null;
    	var COGS = COGSfield.val();
        var submittingSpan = $('span[data-id="' + transactionID + '"]').show();


    	if (COGS.length === 0) return alert('Please enter a valid COGS');

            submittingSpan.show();
            $(this).hide();
            
            var post = $.ajax({
                type: "POST",
                url: "create-sales-receipt",
                data: { transactionID: transactionID, COGS: COGS, privateNote: privateNote }
            });
    	
    	post.done(function(data) { 

    	   if(data.success) {
                    alert('success!');
                    return $('tr[data-id="' + transactionID + '"]').fadeOut(); 
               }
               self.show();
               alert(JSON.stringify(data));
    	});

        post.fail(function(data) {
            self.show();
            submittingSpan.hide();
    	    alert(JSON.stringify(data));
    	});



    });
    </script>

