
    <h1>Pending sales receipts</h1>
    <table class="table-striped">
        <tr>
            <th>SO#</th>
            <th>Description</th>
            <th>Date of charge</th>
            <th>COGS</th>
            <th>Note</th>
            <th>Submit</th>
        </tr>

        {{ #each data.sales }}
        <tr data-id="{{this.TransactionID}}">
	    <td>{{this.salesOrderNumber}}</td>
            <td>{{this.data.data.object.description}}</td>
	    <td>{{this.transactionDateQBOFormat}}</td>
            <td><input type="field" name="COGS" data-id="{{this.TransactionID}}"></td>
            <td><input type="field" name="PrivateNote" data-id="{{this.TransactionID}}"></td>
            <td><button class="createSalesReceiptButton btn-default" type="button" data-id="{{this.TransactionID}}">Submit</button><span style="display:none;" data-id="{{this.TransactionID}}">Submitting..</span></td>
        </tr>
        {{ /each }}
    </table>

    <h1>Pass payouts</h1>
    <table class="table-striped">
        <tr>
            <th>eventId</th>
            <th>Date of payout</th>
            <th>Amount</th>
            <th>status</th>
        </tr>

        {{ #each data.payouts }}
        <tr data-id="{{this.TransactionID}}">
            <td>{{this.data.id}}</td>
            <td>{{this.payoutPaidDateQBOFormat}}</td>
            <td>{{this.amount}}</td>
            <td>{{this.status}}</td>
        </tr>
        {{ /each }}
    </table>

    <script>
    $('.createSalesReceiptButton').on('click', function() {

    	var self = this;
        var transactionID = $(this).attr('data-id');
        var COGSfield = $('input[name="COGS"][data-id="' + transactionID + '"]');
        var privateNoteField = $('input[name="PrivateNote"][data-id="' + transactionID + '"]');
        var privateNote = (typeof privateNoteField.val() === "string" && privateNoteField.length > 0) ? privateNoteField.val() : null;
    	var COGS = COGSfield.val();
        var submittingSpan = $('span[data-id="' + transactionID + '"]').show();


    	if (COGS.length === 0) return alert('Please enter a valid COGS');

            submittingSpan.show();
            $(this).hide();
            
            var post = $.ajax({
                type: "POST",
                url: "create-sales-receipt",
                data: { transactionID: transactionID, COGS: COGS, privateNote: privateNote }
            });
    	
    	post.done(function(data) { 

    	   if(data.success) {
                    alert('success!');
                    return $('tr[data-id="' + transactionID + '"]').fadeOut(); 
               }
               self.show();
               alert(JSON.stringify(data));
    	});

        post.fail(function(data) {
            self.show();
            submittingSpan.hide();
    	    alert(JSON.stringify(data));
    	});



    });
    </script>

