<!DOCTYPE html>
<head>
    <script src="assets/dottie/dottie.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

</head>
<body>
    <table class="table">
        <tr>
            <th>SO#</th>
            <th>Description</th>
            <th>Date of charge</th>
            <th>COGS</th>
            <th>Note</th>
            <th>Submit</th>
        </tr>

        {{#each data}}
        <tr data-id="{{this.TransactionID}}">
	    <td>{{this.salesOrderNumber}}</td>
            <td>{{this.data.data.object.description}}</td>
	    <td>{{this.transactionDateQBOFormat}}</td>
            <td><input type="field" name="COGS" data-id="{{this.TransactionID}}"></td>
            <td><input type="field" name="PrivateNote" data-id="{{this.TransactionID}}"></td>
            <td><button class="createSalesReceiptButton" type="button" data-id="{{this.TransactionID}}">Submit</button><span style="display:none;" data-id="{{this.TransactionID}}">Submitting..</span></td>
        </tr>
        {{/each}}
    </table>

    <script>
    $('.createSalesReceiptButton').on('click', function() {

    	var self = this;
        var transactionID = $(this).attr('data-id');
        var COGSfield = $('input[name="COGS"][data-id="' + transactionID + '"]');
        var privateNoteField = $('input[name="PrivateNote"][data-id="' + transactionID + '"]');
        var privateNote = (typeof privateNoteField.val() === "string" && privateNoteField.length > 0) ? privateNoteField.val() : null;
    	var COGS = COGSfield.val();
        var submittingSpan = $('span[data-id="' + transactionID + '"]').show();


    	if (COGS.length === 0) return alert('Please enter a valid COGS');

            submittingSpan.show();
            $(this).hide();
            
            var post = $.ajax({
                type: "POST",
                url: "create-sales-receipt",
                data: { transactionID: transactionID, COGS: COGS, privateNote: privateNote }
            });
    	
    	post.done(function(data) { 

    	   if(data.success) {
                    alert('success!');
                    return $('tr[data-id="' + transactionID + '"]').fadeOut(); 
               }
               self.show();
               alert(JSON.stringify(data));
    	});

        post.fail(function(data) {
            self.show();
            submittingSpan.hide();
    	    alert(JSON.stringify(data));
    	});



    });
    </script>
</body>

