<style>
.inventorySKU {
    font-size: 11px;
    font-style: italic;
}
.form-text {
    width: 100%; max-width: 220px;
}
.form-textarea {
    width: 100%; max-width: 600px;
}
.headerInfo {
    font-weight: normal;
}
.headerInfoRemarks {
    font-size: 11px;
}
</style>

<table class="table table-striped">

    <thead>
        <tr>
            <th>
                <h1>Edit shipment</h1>
                ShipmentID: {{shipmentID}}
            </th>
        </tr>

        <tr>
            <td><form id="editShipment" v-on:submit.prevent="editShipment"><table class="table">
                <thead>
                    <tr>
                        <th colspan="3">
                            <label class="label" for="name">Name:</label>
                            <p>
                                <input required class="form-control form-text" type="text" name="name" v-model="shipment.name">
                            </p>

                            <label class="label" for="estimatedShipOut">Estimated ship out:</label>
                            <p>
                                <el-date-picker required type="date" name="estimatedShipOut" v-model="shipment.estimatedShipOut" placeholder="Select date"></el-date-picker><br>
                            </p>

                            <label class="label" for="actualShipOut">Actual ship out:</label>
                            <p>
                                <el-date-picker required type="date" name="actualShipOut" v-model="shipment.actualShipOut" placeholder="Select date"></el-date-picker><br>
                            </p>
                            Ship out details: <textarea class="form-control form-textarea" name="otherInfo" v-model="shipment.shipOutDetails"></textarea>
                            <label class="label" for="expectedArrival">Expected arrival:</label>
                            <p>
                                <el-date-picker required type="date" name="expectedArrival" v-model="shipment.expectedArrival" placeholder="Select date"></el-date-picker><br>
                            </p>

                            <label class="label" for="otherInfo">Other info:</label>
                            <p>
                                <textarea class="form-control form-textarea" name="otherInfo" v-model="shipment.otherInfo"></textarea>
                            </p>
                        </th>
                    </tr>

                    <tr>
                        <th>No.</th>
                        <th>Product</th>
                        <th>Qty</th>
                    </tr>

                </thead>

                <tbody>

                    <tr v-for="(product, index) in shipment.products">
                        <td>\{{ index + 1 }}</td>
                        <td>
                            <v-select v-model="product.data" label="searchString" :options="inventories" >
                                <template slot="option" slot-scope="option">
                                    \{{ option.name }}<br>
                                    <span class="inventorySKU">\{{ option.sku }}</span>
                                </template>
                            </v-select>
                        </td>
                        <td><input type="number" v-model="product.quantity"></td>
                    </tr>

                </tbody>

                <tfooter>

                    <tr id="shipmentProductAddRow">
                        <td colspan="3" style="text-align: center;"><button type="button" @click="addProduct" class="shipmentProductAddButton btn btn-default">+ Add Product</button>
                        </td>

                    </tr>

                    <tr>
                        <td colspan="3" style="text-align: center;">
                            <button type="submit" class="addShipmentButton btn btn-success" v-bind:disable="submitIsDisabled">Submit changes</button>
                            <button type="button" class="btn btn-danger" v-bind:disable="submitIsDisabled" v-on:click="deleteShipment">Delete shipment</button>
                        </td>
                    </tr>
                </tfooter>

            </table></form></td>
        </tr>
    </thead>

    <tbody>

    </tbody>
</table>
<script>

Vue.component('v-select', VueSelect.VueSelect)

var v = new Vue({
    el: '#editShipment',
    data: {
        shipment: {
            name: '',
            estimatedShipOut: '',
            expectedArrival: '',
            remarks: '',
            products: []
        },
        inventories: [{}],
        submitIsDisabled: false
    },
    created() {
        axios.get('/api/v2/inventory/all').then(response => {
            if (!response.data.success) Prompt.it(response.data.error);
            this.inventories = response.data.data;
        }).catch(error => {
            Prompt.it(error);
        });

        axios.get('/api/v2/shipment/one/{{ shipmentID }}').then(response => {
            if (!response.data.success) Prompt.it(response.data.error);
            this.shipment = response.data.shipment;
            const self = this;
            this.shipment.estimatedShipOut = moment(parseInt(self.shipment.estimatedShipOut)).format();
            this.shipment.expectedArrival = moment(parseInt(self.shipment.expectedArrival)).format();
            if (this.shipment.actualShipOut) this.shipment.actualShipOut = moment(parseInt(self.shipment.actualShipOut)).format();

            this.shipment.products.forEach(product => {

                product.searchString = product.name + ' ' + product.sku;

                // hack for vue select which needed the data to be in a nested Object
                let obj = {};
                let keys = Object.keys(product);
                keys.forEach(key => {
                    if (key !== 'quantity') {
                        obj[key] = product[key];
                        delete product[key];
                    }
                });

                product.data = obj;
            })

        }).catch(error => {
            Prompt.it(error);
        });
    },
    methods: {
        addProduct() {
            this.shipment.products.push({
                quantity: 1
            });
        },
        editShipment() {

            submitIsDisabled = true;

            const payload = Object.assign({}, this.shipment);

            if (this.shipment.products.length === 0) return Prompt.it('You have not specified any product for the shipment.');

            const productIDArray = []
            const products = this.shipment.products.reduce(function(filtered, product) {

                if (!product.data.InventoryID) return filtered;
                if (product.quantity === 0 || product.quantity === "0") {
                    let msg = 'You have specified a quantity of ' + product.data.name + ' to be ZERO. Please rectify.';
                    Prompt.it(msg);
                    submitIsDisabled = false;
                    throw new Error(msg);
                }

                if (productIDArray.indexOf(product.data.InventoryID) === -1) {
                    productIDArray.push(product.data.InventoryID);
                } else {
                    let msg = 'You have included the product "' + product.data.name + '" more than once. Duplication is not allowed.';
                    Prompt.it(msg);
                    throw new Error(msg);
                }
                filtered.push({
                    InventoryID: product.data.InventoryID,
                    quantity: product.quantity
                });
                return filtered;
            }, []);

            // re-assign products with the simplified products array.
            payload.products = products;

            // verify dates and also format to unix.
            if (!payload.estimatedShipOut || !payload.estimatedShipOut || payload.estimatedShipOut.length === 0 || payload.expectedArrival.length === 0) {
                let msg = 'Dates are not completely filled.';
                Prompt.it(msg);
                throw new Error(msg);
            }
            payload.estimatedShipOut = moment.utc(moment(payload.estimatedShipOut).startOf('day').format('LL')).valueOf();
            payload.expectedArrival = moment.utc(moment(payload.expectedArrival).startOf('day').format('LL')).valueOf();
            if (payload.actualShipOut) payload.actualShipOut = moment.utc(moment(payload.actualShipOut).startOf('day').format('LL')).valueOf();

            axios.post('/api/v2/shipment/edit', payload).then(response => {
                if (!response.data.success) return Prompt.it(response.data.error);

                Prompt.it('Shipment updated!');

            }).catch(error => {
                submitIsDisabled = false;
                Prompt.it(error);
            });

        },
        deleteShipment() {
            var p = prompt("You are deleting a shipment. This change is irreversible. Please type the shipment name \"" + this.shipment.name + "\" to confirm:");
            if (p !== this.shipment.name) return alert('You have enterred the wrong input or cancelled. Please try again.');

            submitIsDisabled = true;

            var self = this;
            axios.delete('/api/v2/shipment/delete/' + self.shipment.ShipmentID).then(response => {

                if (!response.data.success) return Prompt.it(response.data.error);

                Prompt.it('Shipment deleted!');
                window.location.replace('/panel/shipment');

            }).catch(error => {
                submitIsDisabled = false;
                Prompt.it(error);
            })

        }
    }
});
</script>
