    <style>
    .soldInventory {
        border: 1px solid #ccc; padding: 2px; margin: 2px;
    }
    .soldInventorySKU {
        font-style: italic;
    }
    </style>

    <h1>Delivery</h1>
    <table class="table-striped">
        <tr>
            <th>Info</th>
            <th>Sales Amount</th>
            <th style="width: 400px;">Inventory</th>
            <th>Updated At</th>
        </tr>

        {{#each data.sales}}
        <tr data-id="{{this.TransactionID}}">
            <td>
                {{this.details.salesOrderNumber}} <br>
                {{this.details.customerName}} <br>
                {{this.details.customerEmail}} <br>
                {{this.details.transactionDateTime}}
            </td>
            <td>{{this.details.totalAmount}}</td>
            <td>
                {{#each this.soldInventories}}
                    <div class="soldInventory" data-sold-inventory-id="{{this.SoldInventoryID}}">
                        <span class="soldInventoryName">{{this.name}}</span> <br>
                        <span class="soldInventorySKU">{{this.sku}}</span> <br>
                        <span class="soldInventoryLocation">{{this.StorageLocationName}}</span>

                        <strong>Qty:</strong> {{this.quantity}}

                        <strong>Per Item COGS:</strong> <span class="soldInventoryPerItemCOGS">{{this.perItemCOGS}}</span>

                        <br>

                        <strong>Total COGS:</strong> <span class="soldInventoryCOGS">{{this.totalCOGS}}</span>
                    </div>
                {{/each}}
            </td>
            <td>{{this.updatedAt}}</td>
        </tr>
        {{/each}}
    </table>
