<style>
.inventorySKU {
    font-size: 11px;
    font-style: italic;
}
.headerInfo {
    font-weight: normal;
}
.headerInfoRemarks {
    font-size: 11px;
}
.form-text {
    width: 100%; max-width: 220px;
}
.form-textarea {
    width: 100%; max-width: 600px;
}
</style>

<table class="table" id="shipmentsSummary">

    <thead>
        <tr>
            <th>
                <h1>Shipments (products in transit)</h1><br>
                <a href="/panel/shipment">Shipment summary</a> | <a href="/panel/shipment/create">Create shipment</a> | <a href="/panel/shipment/history">See history</a>
            </th>
        </tr>

        <tr v-for="shipment in shipments">
            <td><table class="table">
                <thead class="thead-light">
                    <tr>
                        <th colspan="3">
                            ID: <span class="headerInfo">\{{ shipment.ShipmentID }}</span><br>
                            Name: <span class="headerInfo">\{{ shipment.name }}</span><br>
                            Estimated ship out: <span class="headerInfo">\{{ shipment.estimatedShipOut | moment }}</span><br>

                            Actual ship out:
                            <span class="headerInfo" v-if="shipment.actualShipOut">\{{ shipment.actualShipOut | moment }}</span>
                            <span class="headerInfo" v-else>N.A.</span><br>

                            Expected arrival: <span class="headerInfo">\{{ shipment.expectedArrival | moment }}</span><br>

                            Actual arrival:
                            <span class="headerInfo" v-if="shipment.hasArrived">\{{ shipment.actualArrival | moment }}</span>
                            <span class="headerInfo" v-else>N.A.</span><br>

                            Other info: <span class="headerInfo headerInfoRemarks">\{{ shipment.remarks }}</span><br>

                            <span v-if="shipment.hasArrived">
                                Arrival details: <span class="headerInfo headerInfoRemarks">\{{ shipment.arrivalDetails }}</span><br>
                            </span>
                            <span v-else>
                                <span v-if="shipment.actualShipOut"><a role="button" class="btn btn-success" :href="'shipment/receive/' + shipment.ShipmentID">Receive shipment</a></span>
                                <span v-else>
                                    <a role="button" class="btn btn-primary" :href="'shipment/shipout/' + shipment.ShipmentID">Ship out</a>
                                </span>
                                <a role="button" class="btn btn-secondary" :href="'shipment/edit/' + shipment.ShipmentID">Edit</a>
                            </span>

                        </th>
                    </tr>

                    <tr>
                        <th>No.</th>
                        <th>Product</th>
                        <th>Qty</th>
                    </tr>

                </thead>

                <tbody>

                    <tr v-for="(product, index) in shipment.products">
                        <td>\{{ index + 1}}</td>
                        <td>
                            \{{ product.name }} <br> <span class="inventorySKU">\{{ product.sku }}<br>
                            ProductID: \{{ product.InventoryID }}</span><br>
                            <span class="headerInfo headerInfoRemarks" v-for="inventory in shipment.data.inventorised">
                                <span v-if="(inventory.InventoryID === product.InventoryID)">
                                    <ul>
                                        <li v-for="inventorised in inventory.toInventorise" v-if="(inventorised.quantity > 0)">
                                            <span >\{{ inventorised.name }} (\{{ inventorised.quantity }})</span>
                                        </li>
                                    </ul>
                                </span>
                        </td>
                        <td>\{{ product.quantity }}</td>
                    </tr>


                </tbody>

                <tfooter>
                </tfooter>

            </table></td>
        </tr>
    </thead>

    <tbody>

    </tbody>
</table>
<script>

new Vue({
    el: '#shipmentsSummary',
    data: {
        shipments: {}
    },
    created() {
        const hasArrived = {{#if data.seeHistory}} true {{else}} false {{/if}};

        axios.get('/api/v2/shipment/all', { params: { hasArrived: hasArrived }}).then(response => {
            if (!response.data.success) Prompt.it(response.data.error);
            console.log(response.data)
            this.shipments = response.data.shipments;
        }).catch(error => {
            Prompt.it(error);
        })
    },
    methods: {},
    filters: {
        moment(date) {
            return moment(parseInt(date)).format('DD MMM YY');
        }
    }
});
</script>
